/* src/App.css */

.App {
  text-align: center;
  margin: 20px;
}
h2 {
  text-align: left;
  background-color:rgba(255, 0,0,0.2);
  border: 3px solid #000000;
  text-align: center;
  border-radius: 10px;
  margin-left:-10px ;

}
form {
  max-width: 400px;
  margin: 0 auto;
  font-size: large;
  font-weight: bold;
}

label, textarea, input, button {
  margin-bottom: 10px;
  width: 100%;
  border-radius: 15px;
}
button{
  background: maroon;
  color: white;
  height: 50px;
  border-radius: 15px;
}
textarea {
  height: 100px;
}